<header class="flex justify-between items-center py-5 w-full xl:w-[730px] mx-auto px-2">
    <img 
        class="rounded-full size-12" 
        src="https://avatars.githubusercontent.com/u/74156373?v=4" 
        alt="Imagen de MemoArgüello"
    />
    <nav class="text-white flex flex-row gap-x-4 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#experiencias">Experiencia</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>