<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img 
        class="rounded-full w-12 h-12" 
        src="https://avatars.githubusercontent.com/u/74156373?v=4" 
        alt="Imagen de MemoArgüello"
    />
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Inicio</a>
        <a href="/informacion">Información</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/contacto">Contacto</a>
    </nav>
</header>