---
import ProyectosItem from "./ProyectosItem.astro"

const PROYECTOS = [
    {
        title: "upsanignacio.edu.py",
        descripcion: "Colaboré en el desarrollo de un sistema backend para gestionar la información académica de la Universidad Católica Unidad Pedagógica San Ignacio Guazú. La plataforma, construida con Laravel, facilita la publicación de carreras, noticias académicas, repositorio de tesis, etc.",
        link: "#",
        date: "2024",
        img: "/images/proyecto2.webp",
    },
    {
        title: "masfutbolpy.com",
        descripcion: "Implementé la lógica backend para la página de noticias deportivas 'masfutbolpy.com', utilizando PHP y Laravel. Integré las APIs de Sofascore y 365Score para gestionar datos en tiempo real sobre estadísticas, resultados y fichajes, lo que mejoró significativamente la accesibilidad y la velocidad de la información para los usuarios.",
        link: "#",
        date: "2024",
        img: "/images/proyecto1.webp",
    },
]
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {PROYECTOS.map(proyecto => (
        <ProyectosItem {...proyecto} />
    ))}
</div>