---
import ProyectosItem from "./ProyectosItem.astro"

const PROYECTOS = [
    {
        title: "upsanignacio.edu.py",
        descripcion: "Sitio web educativo desarrollado para la Universidad Católica Unidad Pedagogica San Ignacio Guazú misiones. Hecho con Laravel",
        link: "#",
        date: "2024",
        img: "/images/proyecto2.webp",
    },
    {
        title: "masfutbolpy.com",
        descripcion: "Pagina web informativa de noticias de futbol paraguayo, estadisticas y mercado de fichajes en tiempo real del futbol Paraguayo",
        link: "#",
        date: "2024",
        img: "/images/proyecto1.webp",
    },
]
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {PROYECTOS.map(proyecto => (
        <ProyectosItem {...proyecto} />
    ))}
</div>